name: Python package and test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Install package
        run: |
          python setup.py install
      - name: Test with unittest
        env:
          SCRAPPER_USER: ${{ secrets.SCRAPPER_USER }}
          SCRAPPER_PASSWORD: ${{ secrets.SCRAPPER_PASSWORD }}
        run: |
          python -m unittest discover -s test -p '*_test.py'
